<div class="box-container">
  <h1>Minhas Boxes de Pokémon</h1>

  <div *ngIf="isLoadingList()" class="loading-spinner">
    <mat-spinner></mat-spinner>
    <p>Carregando Pokémon...</p>
  </div>

  <div *ngIf="listError()" class="error-message">
    <mat-icon color="warn">error</mat-icon>
    <p>{{ listError() }}</p>
    <button mat-raised-button color="primary" (click)="loadMorePokemon()">Tentar Novamente</button>
  </div>

  <div class="pokemon-grid">
    <mat-card *ngFor="let pokemon of pokemonList()" class="pokemon-card">
      <mat-card-header>
        <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
        <mat-card-subtitle>#{{ getPokemonId(pokemon.url) }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getPokemonId(pokemon.url) + '.png'" [alt]="pokemon.name">
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/pokemon', getPokemonId(pokemon.url)]">Detalhes</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="load-more-section">
    <button mat-raised-button color="accent" (click)="loadMorePokemon()" [disabled]="isLoadingList()">
      <mat-icon *ngIf="isLoadingList()">cached</mat-icon>
      <span *ngIf="!isLoadingList()">Carregar Mais Pokémon</span>
    </button>
  </div>
</div>
