.sidenav-container {
  height: 100vh;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
}

.mat-toolbar {
  flex-shrink: 0;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
}

.desktop-menu {
  display: none;
}

.sidenav-toggle {
  display: block;
}

.theme-toggle {
  margin: 0 16px;
}

@media (min-width: 768px) {
  .desktop-menu {
    display: block;
  }
  .sidenav-toggle {
    display: none;
  }
}