<div class="home-container">
  <h1>Bem-vindo à Living Dex!</h1>
  <p>Sua plataforma para organizar e acompanhar sua coleção de Pokémon.</p>

  <div class="action-buttons">
    <button mat-raised-button color="primary" [routerLink]="['/boxes']">
      <mat-icon>storage</mat-icon>
      Ver Minhas Boxes
    </button>
    <button mat-flat-button color="accent" [routerLink]="['/']">
      <mat-icon>info</mat-icon>
      Sobre o Projeto
    </button>
  </div>

  <p>Explore, organize e complete sua Living Dex!</p>
</div>
