<div class="container">
  <section>
    <h4>Erro 404</h4>
    <h1>Desculpe, esta página não existe.</h1>
  </section>

  <p>A página a qual você está tentando acessar não existe neste endereço.</p>
  <p>
    Você ainda pode tentar acessar o conteúdo utilizando a busca ou indo para a
    <u [routerLink]="['/']">página inicial deste site.</u>
  </p>

  <hr />

  <button mat-flat-button color="primary" [routerLink]="['/']">
    <mat-icon>home</mat-icon>
    Ir Para Página Inicial
  </button>
</div>
